<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  </head>

   <style>
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 3px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>

<body>

    <nav class="navbar navbar-default">
        <div class="container fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">Steffens Webseite</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="home">Home</a></li>
                <li><a href="eingabe">Eingabe</a></li>
                <li class="active"><a href="speicher">Bisherige Einträge</a></li>
            </ul>
        </div>
    </nav>

    {% block body %}

    <div class="jumbotron text-center">
        <h1>Liste aller bisher gespeicherten Einträge:</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nachricht</th>
                <th>Erstellungszeitpunkt</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.message }}</td>
                <td>{{ entry.date_created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

</body>
</html>