<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  </head>

   <style>
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 3px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>

<body>

    <nav class="navbar navbar-default">
        <div class="container fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">Steffens Webseite</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="home">Home</a></li>
                <li class="active"><a href="eingabe">Eingabe</a></li>
                <li><a href="speicher">Bisherige Einträge</a></li>
            </ul>
        </div>
    </nav>


    {% block body %}

    <h1>Der letzte Eintrag in der DB </h1>

    {% if entries[0] is defined %}
        <p>Id = {{ entries[0].id }}</p>
        <p>Nachricht = {{ entries[0].message }}</p>
        <p>Erstellungszeitpunkt = {{ entries[0].date_created }}</p>
    {% else %}
        <p>Noch keine Eintraege vorhanden</p>
    {% endif %}

    <h2>Neuen Eintrag zur Datenbank hinzufuegen </h2>

    <form action="/eingabe" method="POST">

        Message: <input type="text" name="message" id="message">
        <input type="submit" value="Nachricht hinzufuegen">

    </form>

    <br/><br/>

    {% endblock %}

    </body>
</html>